[js-toggle] {
    > button{
        position: relative;
        cursor: pointer;
    }
    > div {
        max-height: 150vh;
        overflow: hidden;
        transition: max-height 0.5s, padding-top 0.5s, padding-bottom 0.5s;

        &:not(.ativo) {
            visibility: hidden;
        }

        &.efeito-toggle, &:not(.ativo) {
            max-height: 0px !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
}