/*!Toggle Acessível V 2.0
*/
[js-toggle] {
    >button {
        position: relative;
        cursor: pointer;
    }

    >div {
        overflow: hidden;
        transition: height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease;

        &:not(.ativo) {
            visibility: hidden;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            height: 0 !important;
        }
    }
}